<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Texellent Solutions</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/img/favicon-16x16.png" rel="icon">
    <link href="~/img/apple-icon-60x60.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/aos.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/Content/boxicons.min.css" rel="stylesheet" />
    <link href="~/Content/glightbox.min.css" rel="stylesheet" />
    <link href="~/Content/remixicon.css" rel="stylesheet" />
    <link href="~/Content/swiper-bundle.min.css" rel="stylesheet" />
    <link href="~/Content/cookiealert.css" rel="stylesheet" />
    
    <!-- Template Main CSS File -->
    <link href="~/Content/style.css" rel="stylesheet" />
    <!--Start of Tawk.to Script-->
    
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/610fb0b1649e0a0a5cd01b23/1fcikke1a';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</head>
<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top " style="background: rgb(255,255,255); background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,81,43,1) 100%)">
        <div class="container d-flex align-items-center justify-content-between">

            @*<h1 class="logo"><a href="index.html"><img src="~/img/about.jpg" class="img-fluid" alt=""></a></h1>*@
            <!-- Uncomment below if you prefer to use an image logo -->
            <a href="@Url.Action("Index","Home")" class="logo"><img src="~/img/transparent2.png" alt="" class="img-fluid"></a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">About</a></li>
                    <li class="dropdown">
                        <a href="#services"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="@Url.Action("RPA","Home")">RPA Services</a></li>
                        </ul>
                    </li>
                    @*<li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>*@
                    <li><a class="nav-link scrollto" href="#team"> Our Leadership</a></li>
                    @*<li class="dropdown">
                            <a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a href="#">Drop Down 1</a></li>
                                <li class="dropdown">
                                    <a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                                    <ul>
                                        <li><a href="#">Deep Drop Down 1</a></li>
                                        <li><a href="#">Deep Drop Down 2</a></li>
                                        <li><a href="#">Deep Drop Down 3</a></li>
                                        <li><a href="#">Deep Drop Down 4</a></li>
                                        <li><a href="#">Deep Drop Down 5</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Drop Down 2</a></li>
                                <li><a href="#">Drop Down 3</a></li>
                                <li><a href="#">Drop Down 4</a></li>
                            </ul>
                        </li>*@@*<li class="dropdown">
                            <a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a href="#">Drop Down 1</a></li>
                                <li class="dropdown">
                                    <a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                                    <ul>
                                        <li><a href="#">Deep Drop Down 1</a></li>
                                        <li><a href="#">Deep Drop Down 2</a></li>
                                        <li><a href="#">Deep Drop Down 3</a></li>
                                        <li><a href="#">Deep Drop Down 4</a></li>
                                        <li><a href="#">Deep Drop Down 5</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Drop Down 2</a></li>
                                <li><a href="#">Drop Down 3</a></li>
                                <li><a href="#">Drop Down 4</a></li>
                            </ul>
                        </li>*@@*<li class="dropdown">
                                <a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
                                <ul>
                                    <li><a href="#">Drop Down 1</a></li>
                                    <li class="dropdown">
                                        <a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                                        <ul>
                                            <li><a href="#">Deep Drop Down 1</a></li>
                                            <li><a href="#">Deep Drop Down 2</a></li>
                                            <li><a href="#">Deep Drop Down 3</a></li>
                                            <li><a href="#">Deep Drop Down 4</a></li>
                                            <li><a href="#">Deep Drop Down 5</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Drop Down 2</a></li>
                                    <li><a href="#">Drop Down 3</a></li>
                                    <li><a href="#">Drop Down 4</a></li>
                                </ul>
                            </li>*@
                        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                        <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav><!-- .navbar -->

            </div>
        </header>
        <!-- End Header -->

        <div>
            @RenderBody()
            <hr />
            <!-- ======= Footer ======= -->
            <footer id="footer">
                <div class="footer-top">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-3 col-md-6">
                                <div class="footer-info">
                                    <h3>Texellent</h3>
                                    <p>
                                        No.16,9th A Cross, Yelahanka New Town, <br>
                                        Bengaluru, Karnataka - 560064 IN <br> <br>
                                        <strong>Phone:</strong><a href="tel:‭+918867862838"> +91 8867862838</a><br>
                                        <strong>Email:</strong><a href="mailto:info@texellentsolutions.com"> info@texellentsolutions.com</a><br>
                                    </p>
                                    <div class="social-links mt-3">
                                        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                                        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                                        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                                        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                                        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-6 footer-links">
                                <h4>Useful Links</h4>
                                <ul>
                                    <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                                    <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                                    <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                                    <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                                    <li><i class="bx bx-chevron-right"></i> <a href="@Url.Action("PrivacyPolicy", "Home")">Privacy policy</a></li>
                                </ul>
                            </div>

                            <div class="col-lg-3 col-md-6 footer-links">
                                <h4>Our Services</h4>
                                <ul>
                                    <li><i class="bx bx-chevron-right"></i> <a href="#">Finance and Accounting Services</a></li>
                                    <li><i class="bx bx-chevron-right"></i> <a href="#">Account Payable/Receivable Automation services</a></li>
                                    <li><i class="bx bx-chevron-right"></i> <a href="#">Salesforce Implementation</a></li>
                                    <li><i class="bx bx-chevron-right"></i> <a href="#">Digital Services</a></li>
                                    <li><i class="bx bx-chevron-right"></i> <a href="#">Automated Reconciliations services</a></li>
                                </ul>
                            </div>

                            <div class="col-lg-4 col-md-6 footer-newsletter">
                                <h4>Our Newsletter</h4>
                                <p>subscribe to our newsletter today to receive latest news, updates and special offers</p>
                                <form action="" method="post">
                                    <input type="email" name="email"><input type="submit" value="Subscribe">
                                </form>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="copyright">
                        &copy; Copyright <strong><span>Texellent Solutions</span></strong>. All Rights Reserved
                    </div>
                    <div class="credits">
                        Designed by <a href="https://texellentsolutions.com/">Texellent Solutions</a>
                    </div>
                </div>
            </footer><!-- End Footer -->

            <div id="preloader"></div>
            <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
        </div>



        <!-- START Bootstrap-Cookie-Alert -->
        <div class="alert text-center cookiealert" role="alert">
            <b>Do you like cookies?</b> &#x1F36A; We use cookies to ensure you get the best experience on our website. <a href="#" target="_blank">Learn more</a>

            <button type="button" class="btn btn-primary btn-sm acceptcookies">
                I agree
            </button>
        </div>
        <div class="row form-group">
            @if (TempData["successmsg"] != null)
            {
                <input type="text" id="txtmsg" name="txtmsg" style="display:none" value="@TempData["successmsg"].ToString()" />
            }
            @if (TempData["errormsg"] != null)
            {
                <input type="text" id="txtmsgerr" name="txtmsgerr" style="display:none" value="@TempData["errormsg"].ToString()" />
            }
        </div>
        <!-- END Bootstrap-Cookie-Alert -->
        <!-- JAVASCRIPT -->
        <!-- Only for the demo -->
        <!-- Vendor JS Files -->
        <script src="~/Scripts/aos.js"></script>
        <script src="~/Scripts/bootstrap.bundle.min.js"></script>
        <script src="~/Scripts/glightbox.min.js"></script>
        <script src="~/Scripts/isotope.pkgd.min.js"></script>
        @*<script src="~/Scripts/validate.js"></script>*@
        <script src="~/Scripts/purecounter.js"></script>
        <script src="~/Scripts/swiper-bundle.min.js"></script>
        <script src="~/Scripts/cookiealert.js"></script>
        <!-- Template Main JS File -->
        <script src="~/Scripts/main.js"></script>
        <script src="~/Scripts/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function () {
                $("#btnsubmit").click(function () {
                    $('.loading').addClass('d-block');
                });
                var val = $("#txtmsg").val();
                if (val != undefined) {
                    //$('.loading').classList.remove('d-block');
                    $('.sent-message').addClass('d-block');

                }
                var valerr = $("#txtmsgerr").val();
                if (valerr != undefined) {
                    // $('.loading').classList.remove('d-block');
                    $('.error-message').html('Something went wrong. Please try again later');
                    $('.error-message').addClass('d-block');
                }
            });
        </script>
    </body>
</html>